{% extends '_base.html' %}

{% block content %}


        <div class="all-jobs all-categories">
            <div class="row">
                <div class="col-12">
                    <h5><strong>Total:</strong> {{categories|length}} categories</h5>
                </div>

               <ol>
                    {% for cat in categories %}

                    <li>
                        <a target="_blank"  href="{% url 'catques' cat.id %}">{{cat.name}}</a> ({{cat.number_of_ques}})
                    </li>

                    {% endfor %}

                </ol>
            </div>
        </div>
{% endblock content %}